.watchList-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 80vh;
    margin-top: 100px;
}

.button_add{
    background: #CB58D1;
    border-radius: 14px;
    width: 240px;
    height: 50px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 70px;
    cursor: pointer;
    outline: none;
}

.in_row{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputWatchList{
    font-family: 'Montserrat', sans-serif;
}

.list_blocks{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
}

.block_watchList{
    width: 80%;
    height: 100px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    color: #cb58d1;
    align-items: center;
    font-size: 20px;
    margin: 20px 0;
    border-radius: 15px;
}


.del{
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    background-image: url('https://cdn-icons-png.flaticon.com/512/3936/3936858.png');
    cursor: pointer;
}

.watched{
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

#watched_alredy{
    background: linear-gradient(135deg, #00FFF0 0%, #80FF53 100%);
}

#not_watched{
    background: linear-gradient(135deg, #111111 0%, #2A2A2A 100%);
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-bvz20t{
    background-color: #333;
    color: #fff;
}

#inputWatchList-label{
    color: #fff;
}

.css-feqhe6 {
    background: #333;
    border-radius: 5px;
}