::-webkit-scrollbar {
  width: 8px;

}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background-color: #d16fd3;
  border-radius: 3px 0 0 3px;
  margin-right: 10px;
}

.App {
  width: 100%;
  min-height: 100vh;
  color: #fff;
}

body{
  background-color: #000000;
}